In [21]:
import pandas as pd

In [22]:
prefix_path = 'D:/jeju_bus_data_no_leakage/bis/'
infix_path = 'BIS_' + '190531'
postfix_path = '.csv'

path = prefix_path + infix_path + postfix_path

In [23]:
df = pd.read_csv(path, 
                 usecols = ['EVENT_DATE', 'EVENT_CD', 'RUN_DIST',
                            'ROUTE_ID', 'ROUTE_RUN_CNT', 'VH_ID', 'BUS_RUN_CNT', 'STATION_ORD'])

In [31]:
# df = df[(df['EVENT_CD'] == 18) | (df['EVENT_CD'] == 17)]
df = df.query('EVENT_CD in (17, 18)')

In [27]:
grouped = df.groupby(by = ['ROUTE_ID', 'ROUTE_RUN_CNT', 'VH_ID', 'BUS_RUN_CNT'])

In [12]:
instances = []

for name, group in grouped:
#     print(name)
    sorted_group = group.sort_values(by = ['EVENT_DATE', 'EVENT_CD'], ascending = [True, True])
    
    # 버스 출발/도착 이벤트 로그가 중복되어 저장된 경우 -> 해당 로그 튜플 삭제
    # 예) EVENT_CD | STATION_ORD (2019.05.31 BIS, 노선ID 405130001, 6회차)
    #     ---------+------------
    #     18       | 1             -> 삭제 대상
    #     17       | 1             -> 삭제 대상
    #     18       | 1             -> 삭제 대상
    #     17       | 1             -> 삭제 대상
    #     18       | 1
    for station_ord, gr in sorted_group.groupby(by = 'STATION_ORD'):
        if len(gr) > 2:
            #print(name, '...', gr)
            sorted_group = sorted_group.drop(gr.index[:-1])
    
    # 첫 행의 EVENT_CD가 18(출발)이 아닌 경우 -> 해당 로그 튜플 삭제
    if len(sorted_group) > 0 and \
            sorted_group.loc[sorted_group.index[0]]['EVENT_CD'] == 17:
        sorted_group = sorted_group.drop(sorted_group.index[0])
    
    # 마지막 행의 EVENT_CD가 17(도착)이 아닌 경우 -> 해당 로그 튜플 삭제
    if len(sorted_group) > 0 and \
            sorted_group.loc[sorted_group.index[-1]]['EVENT_CD'] == 18:
        sorted_group = sorted_group.drop(sorted_group.index[-1])
        
    # 출발/도착 결측 값 보정
    tup = (len(sorted_group[sorted_group['EVENT_CD'] == 18]), len(sorted_group[sorted_group['EVENT_CD'] == 17]))
    if tup[0] != tup[1]:
        cnt, start, end = -1, 0, len(sorted_group) - 1
        for station_ord, gr in sorted_group.groupby(by = 'STATION_ORD'):
            cnt += 1
            if cnt in (start, end): 
                continue
            
            if len(gr) == 1:
                if gr.loc[gr.index[0]]['EVENT_CD'] == 18:
                    pass
                else: # 17
                    pass
                
    start_df = sorted_group.query('EVENT_CD == 18')
    end_df = sorted_group.query('EVENT_CD == 17')

    
#         print(name, end = ' ... ')
#         print(tup)
#         instances.append(sorted_group)

(405130001, 6, 7996023, 7) ... (23, 22)
(405130002, 9, 7996007, 3) ... (21, 20)
(405130002, 18, 7996024, 4) ... (8, 7)
(405131101, 5, 7983683, 6) ... (51, 52)
(405131101, 10, 7983683, 2) ... (46, 47)
(405131101, 22, 7983683, 4) ... (46, 48)
(405131102, 17, 7983682, 6) ... (56, 55)
(405131102, 22, 7983683, 5) ... (56, 55)
(405131201, 2, 7983679, 5) ... (34, 35)
(405131201, 5, 7983676, 2) ... (62, 60)
(405131201, 9, 7983679, 7) ... (63, 61)
(405131201, 14, 7983676, 4) ... (62, 64)
(405131201, 23, 7983679, 4) ... (22, 23)
(405131202, 4, 7983693, 1) ... (63, 61)
(405131202, 6, 7983694, 2) ... (72, 71)
(405131202, 9, 7983676, 3) ... (66, 65)
(405131202, 12, 7983693, 3) ... (55, 57)
(405131202, 16, 7983679, 3) ... (66, 65)
(405131202, 17, 7983676, 5) ... (60, 62)
(405131501, 7, 7983176, 7) ... (63, 64)
(405131601, 7, 7983177, 8) ... (67, 68)
(405131602, 2, 7983153, 1) ... (1, 0)
(405131602, 2, 7983158, 6) ... (41, 40)
(405132002, 10, 7997096, 13) ... (47, 44)
(405132005, 1, 7997010, 1) ... (31, 30)
(405133104, 3, 7983001, 5) ... (46, 45)
(405133201, 14, 7983056, 7) ... (4, 5)
(405133522, 1, 7997049, 1) ... (57, 56)
(405133601, 8, 7997047, 4) ... (52, 53)
(405133604, 2, 7997008, 4) ... (63, 62)
(405134102, 3, 7997076, 15) ... (38, 37)
(405134102, 16, 7997029, 5) ... (47, 46)
(405134201, 25, 7997043, 8) ... (14, 15)
(405134309, 1, 7983533, 3) ... (42, 43)
(405134310, 3, 7983533, 2) ... (34, 33)
(405134522, 10, 7983412, 1) ... (47, 45)
(405134522, 15, 7983469, 4) ... (14, 13)
(405134802, 7, 7997076, 6) ... (16, 15)
(405135102, 16, 7997097, 8) ... (49, 48)
(405135106, 1, 7997097, 1) ... (51, 50)
(405135201, 2, 7997084, 2) ... (47, 46)
(405135521, 20, 7997104, 6) ... (53, 54)
(405135522, 10, 7997074, 10) ... (63, 64)
(405135601, 4, 7997098, 2) ... (57, 56)
(405135601, 6, 7997074, 9) ... (58, 57)
(405135601, 8, 7997074, 4) ... (59, 58)
(405135601, 15, 7997074, 6) ... (56, 58)
(405135602, 22, 7997088, 8) ... (10, 11)
(405136001, 0, 7997112, 4) ... (39, 38)
(405136001, 0, 7997123, 2) ... (42, 41)
(405136001, 36, 7997112, 6) ... (41, 40)
(405136001, 41, 7997034, 7) ... (43, 42)
(405136002, 16, 7997123, 2) ... (36, 37)
(405136002, 22, 7997082, 3) ... (32, 31)
(405136002, 56, 7997082, 5) ... (32, 31)
(405138001, 9, 7997109, 3) ... (52, 51)
(405241101, 11, 7983578, 3) ... (74, 73)
(405241501, 2, 7983806, 7) ... (35, 36)
(405241501, 11, 7983806, 2) ... (42, 43)
(405241501, 12, 7983806, 9) ... (42, 41)
(405241501, 20, 7983806, 4) ... (37, 38)
(405241502, 8, 7983639, 8) ... (45, 46)
(405241502, 10, 7983806, 8) ... (45, 44)
(405241502, 24, 7983806, 5) ... (44, 43)
(405241502, 25, 7983805, 4) ... (47, 46)
(405242102, 1, 7983040, 7) ... (40, 39)
(405242601, 3, 7983573, 2) ... (25, 24)
(405242601, 9, 7983573, 13) ... (25, 26)
(405242601, 11, 7983573, 6) ... (25, 26)
(405242601, 16, 7983573, 7) ... (26, 25)
(405242602, 0, 7983573, 6) ... (22, 26)
(405242602, 0, 7983573, 10) ... (26, 27)
(405242602, 7, 7983573, 3) ... (22, 26)
(405242602, 11, 7983573, 5) ... (27, 29)
(405242602, 19, 7983573, 8) ... (16, 18)
(405243401, 0, 7983405, 1) ... (63, 1)
(405243401, 0, 7983436, 0) ... (63, 1)
(405243511, 0, 7983405, 1) ... (63, 2)
(405244001, 3, 7983692, 10) ... (39, 40)
(405244001, 6, 7983692, 3) ... (37, 38)
(405244001, 10, 7983692, 6) ... (39, 41)
(405244002, 1, 7983692, 9) ... (31, 30)
(405244002, 9, 7983692, 5) ... (44, 43)
(405245513, 1, 7983636, 8) ... (64, 65)
(405245514, 1, 7983621, 1) ... (64, 63)
(405249001, 9, 7983665, 26) ... (11, 10)
(405320111, 2, 7983019, 4) ... (167, 166)
(405320111, 6, 7983099, 2) ... (185, 186)
(405320112, 6, 7983067, 3) ... (16, 8)
(405320112, 12, 7983096, 3) ... (2, 1)
(405320113, 12, 7983045, 3) ... (187, 186)
(405320114, 7, 7983074, 2) ... (183, 182)
(405320114, 11, 7983091, 2) ... (176, 177)
(405320114, 17, 7983098, 3) ... (148, 147)
(405320119, 2, 7983225, 1) ... (177, 178)
(405320121, 2, 7983051, 4) ... (111, 110)
(405320121, 2, 7983228, 2) ... (182, 181)
(405320213, 19, 7983130, 4) ... (129, 128)
(405320214, 5, 7983144, 1) ... (117, 120)
(405320214, 8, 7983130, 2) ... (170, 169)
(405320214, 10, 7983144, 2) ... (0, 1)
(405320214, 19, 7983109, 3) ... (168, 169)
(405320215, 11, 7983141, 4) ... (16, 15)
(405320215, 18, 7983112, 4) ... (162, 161)
(405320218, 1, 7983162, 1) ... (161, 160)
(405321101, 1, 7983069, 5) ... (59, 58)
(405321101, 4, 7983054, 3) ... (59, 58)
(405321104, 4, 7983004, 8) ... (4, 3)
(405321201, 1, 7983017, 6) ... (70, 71)
(405321201, 3, 7983071, 5) ... (65, 64)
(405321201, 6, 7983071, 4) ... (70, 69)
(405321203, 1, 7983004, 1) ... (64, 63)
(405322101, 3, 7983182, 6) ... (39, 40)
(405322101, 4, 7983178, 8) ... (47, 48)
(405322101, 9, 7983178, 3) ... (36, 37)
(405322101, 13, 7983184, 14) ... (35, 34)
(405322101, 17, 7983178, 5) ... (49, 50)
(405322102, 3, 7983184, 2) ... (41, 43)
(405322102, 6, 7983182, 7) ... (38, 39)
(405322102, 9, 7983184, 5) ... (50, 51)
(405322102, 17, 7983182, 5) ... (46, 45)
(405322104, 2, 7983184, 7) ... (52, 51)
(405322201, 7, 7983184, 6) ... (59, 57)
(405322201, 12, 7983184, 9) ... (18, 19)
(405322202, 0, 7983180, 8) ... (59, 60)
(405322204, 1, 7983178, 9) ... (69, 67)
(405322204, 1, 7983182, 1) ... (65, 64)
(405322204, 2, 7983178, 4) ... (65, 64)
(405323101, 7, 7983462, 3) ... (5, 4)
(405323101, 7, 7983466, 9) ... (90, 89)
(405323102, 5, 7983435, 4) ... (15, 14)
(405323102, 9, 7983463, 4) ... (87, 86)
(405323202, 5, 7983435, 9) ... (25, 24)
(405323204, 4, 7983466, 4) ... (2, 1)
(405324002, 7, 7983601, 5) ... (36, 37)
(405325101, 8, 7983559, 6) ... (23, 22)
(405325103, 2, 7983528, 10) ... (62, 61)
(405325105, 5, 7983528, 6) ... (56, 57)
(405325502, 4, 7983502, 9) ... (50, 49)
(405326001, 6, 7983022, 7) ... (52, 53)
(405326001, 7, 7983022, 3) ... (50, 49)
(405326001, 13, 7983022, 5) ... (56, 57)
(405326002, 2, 7983022, 6) ... (55, 54)
(405326002, 4, 7983022, 2) ... (49, 50)
(405326002, 11, 7983022, 4) ... (52, 53)
(405326003, 0, 7983022, 1) ... (56, 57)
(405328101, 11, 7983402, 6) ... (61, 60)
(405328101, 18, 7983439, 8) ... (58, 57)
(405328101, 19, 7983402, 2) ... (61, 60)
(405328102, 25, 7983441, 3) ... (63, 62)
(405328102, 53, 7983416, 5) ... (63, 62)
(405328206, 19, 7983634, 5) ... (2, 1)
(405329101, 21, 7983101, 6) ... (24, 25)
(405329102, 9, 7983110, 11) ... (1, 0)
(405329102, 19, 7983140, 5) ... (78, 77)
(405410101, 15, 7983048, 3) ... (20, 21)
(405410201, 3, 7983102, 1) ... (17, 16)
(405410203, 2, 7983114, 1) ... (17, 16)
(405411101, 7, 7983085, 4) ... (11, 12)
(405411101, 8, 7983083, 3) ... (4, 5)
(405415101, 5, 7983554, 2) ... (14, 13)
(405415102, 12, 7983554, 7) ... (9, 10)
(405415102, 18, 7983554, 5) ... (14, 16)
(405415202, 6, 7983535, 6) ... (8, 7)
(405570101, 2, 7996056, 2) ... (56, 57)
(405570101, 4, 7996056, 4) ... (52, 53)
(405570103, 2, 7997200, 2) ... (3, 1)
(405570103, 3, 7997200, 3) ... (1, 0)
(405570201, 1, 7996031, 2) ... (0, 1)
(405570201, 1, 7996031, 11) ... (23, 22)
(405570201, 2, 7996031, 3) ... (46, 45)
(405570201, 4, 7996031, 8) ... (49, 50)
(405570203, 3, 7996031, 7) ... (43, 42)
(405570205, 1, 7996031, 1) ... (58, 57)
(405570407, 1, 7996033, 6) ... (8, 7)
(405570410, 0, 7996040, 0) ... (1, 0)
(405570410, 2, 7996040, 3) ... (2, 0)
(405570410, 5, 7996040, 6) ... (2, 0)
(405578309, 1, 7996035, 1) ... (26, 25)
(405578401, 1, 7996034, 10) ... (37, 38)
(405578401, 2, 7996034, 3) ... (14, 15)
(405578401, 4, 7996034, 6) ... (39, 37)
(405578402, 2, 7996034, 11) ... (42, 41)
(405578404, 4, 7996047, 5) ... (37, 38)
(405578405, 1, 7996047, 8) ... (36, 35)
(405578408, 2, 7996034, 9) ... (31, 30)
(405578507, 2, 7996013, 5) ... (43, 42)
(405579203, 33, 7996036, 28) ... (7, 6)
(405579204, 201, 7996051, 16) ... (59, 58)
(405579304, 1, 7996037, 10) ... (45, 44)
(405579402, 0, 7996039, 12) ... (27, 26)
(405660001, 0, 7983719, 4) ... (29, 28)
(405660001, 2, 7983715, 1) ... (32, 33)
(405660002, 27, 7983706, 4) ... (29, 28)
(405680001, 9, 7983657, 3) ... (15, 14)
(405881001, 10, 7983908, 3) ... (22, 23)
(405881001, 17, 7983915, 5) ... (13, 12)
(405881002, 2, 7983904, 1) ... (21, 22)
(405881002, 9, 7983917, 2) ... (20, 21)
(405881002, 10, 7983909, 1) ... (21, 22)
(405882001, 1, 7983913, 1) ... (23, 24)
(405882001, 11, 7983913, 4) ... (12, 11)
(405882002, 10, 7983912, 3) ... (24, 25)

(406151001, 0, 7997544, 6) ... (10, 9)
(406151001, 10, 7997544, 2) ... (58, 60)
(406151001, 21, 7997505, 3) ... (76, 75)
(406151001, 23, 7997544, 9) ... (3, 4)
(406151001, 41, 7997519, 6) ... (30, 29)
(406151001, 42, 7997569, 5) ... (15, 14)
(406151001, 46, 7997506, 6) ... (7, 6)
(406151001, 57, 7997544, 7) ... (10, 11)
(406151002, 1, 7997512, 1) ... (74, 73)
(406151002, 19, 7997569, 11) ... (0, 1)
(406151002, 25, 7997569, 4) ... (53, 51)
(406151008, 6, 7997544, 10) ... (0, 1)
(406152001, 0, 7997554, 2) ... (64, 63)
(406152001, 3, 7997554, 9) ... (67, 66)
(406152002, 28, 7997554, 8) ... (23, 21)
(406152003, 1, 7997554, 11) ... (42, 41)
(406153101, 11, 7997564, 5) ... (63, 62)
(406153102, 7, 7997539, 11) ... (59, 58)
(406153104, 2, 7997539, 1) ... (62, 63)
(406153201, 4, 7997567, 8) ... (47, 46)
(406153203, 1, 7997568, 1) ... (69, 68)
(406261101, 6, 7983206, 7) ... (37, 36)
(406261507, 1, 7983208, 1) ... (27, 28)
(406262101, 4, 7997517, 3) ... (78, 77)
(406262201, 1, 7996615, 1) ... (47, 46)
(406262303, 2, 7997525, 2) ... (49, 48)
(406262304, 3, 7997524, 8) ... (57, 56)
(406262504, 4, 7997523, 3) ... (1, 0)
(406262701, 1, 7996622, 1) ... (42, 43)
(406263502, 2, 7997522, 4) ... (23, 22)
(406264303, 1, 7983212, 1) ... (1, 0)
(406264505, 7, 7997504, 3) ... (68, 69)
(406264506, 5, 7997513, 3) ... (88, 87)
(406265501, 4, 7983219, 19) ... (63, 65)
(406265502, 3, 7983219, 18) ... (64, 63)
(406265502, 11, 7983218, 4) ... (65, 64)
(406265503, 1, 7983218, 1) ... (65, 64)
(406265504, 2, 7983219, 15) ... (15, 14)
(406269001, 2, 7996621, 2) ... (1, 2)
(406573207, 1, 7996641, 11) ... (20, 19)
(406575101, 3, 7996635, 10) ... (15, 13)
(406575102, 2, 7996624, 1) ... (36, 35)
(406575102, 2, 7996635, 9) ... (18, 19)
(406575102, 4, 7996624, 3) ... (36, 35)
(406575102, 7, 7996624, 6) ... (36, 35)
(406575103, 1, 7996630, 4) ... (42, 43)
(406575104, 3, 7996631, 5) ... (16, 15)
(406575104, 4, 7996631, 7) ... (45, 44)
(406575108, 4, 7996630, 5) ... (40, 39)
(406575205, 4, 7996616, 6) ... (18, 17)
(406576103, 4, 7996634, 12) ... (30, 29)

In [41]:
start_df = sorted_group.query('EVENT_CD == 18')
end_df = sorted_group.query('EVENT_CD == 17')

In [56]:
start_df[['EVENT_DATE', 'RUN_DIST', 'STATION_ORD']]

                EVENT_DATE  RUN_DIST  STATION_ORD
1886985  19/05/31 23:00:21         0            1
1899498  19/05/31 23:00:50       318            2
1915054  19/05/31 23:01:41      1105            3
1930422  19/05/31 23:02:25      1508            4
1915072  19/05/31 23:04:13      1852            5
1933581  19/05/31 23:05:23      2435            6
1902777  19/05/31 23:06:29      2822            7
1921326  19/05/31 23:07:43      3119            8
1899668  19/05/31 23:09:42      3370            9
1909018  19/05/31 23:10:25      3558           10
1921352  19/05/31 23:11:23      4059           11
1887213  19/05/31 23:12:41      4927           12
1899719  19/05/31 23:13:31      5563           13
1906024  19/05/31 23:14:17      6283           14
1909098  19/05/31 23:14:29      6674           15
1933720  19/05/31 23:16:29      7490           16
1893502  19/05/31 23:17:18      8138           17
1896656  19/05/31 23:17:41      8479           18
1906058  19/05/31 23:18:31      8835           19
1924572  19/05/31 23:20:31      9203           20
1930689  19/05/31 23:20:53      9545           21
1933792  19/05/31 23:21:23     10204           22
1893551  19/05/31 23:22:07     10749           23
1896685  19/05/31 23:22:28     11297           24
1899844  19/05/31 23:22:56     11708           25
1906103  19/05/31 23:23:32     12111           26
1909213  19/05/31 23:23:58     12573           27
1912303  19/05/31 23:24:20     13128           28
1921498  19/05/31 23:25:06     13448           29
1930750  19/05/31 23:26:27     14674           30
1933875  19/05/31 23:27:17     15550           31
1887360  19/05/31 23:28:01     15954           32
1893623  19/05/31 23:28:40     16368           33
1899891  19/05/31 23:29:25     16587           34
1906158  19/05/31 23:30:26     16966           35
1918470  19/05/31 23:32:18     17440           36
1921594  19/05/31 23:33:12     18028           37
1887400  19/05/31 23:35:19     18714           38
1890550  19/05/31 23:36:03     18921           39
1896792  19/05/31 23:36:47     19597           40
1909315  19/05/31 23:39:15     21217           41
1912390  19/05/31 23:39:48     21844           42
1915443  19/05/31 23:40:00     22048           43
1915482  19/05/31 23:40:25     22496           44
1921643  19/05/31 23:41:24     23087           45
1927795  19/05/31 23:42:19     23683           46
1927819  19/05/31 23:42:29     24064           47
1930901  19/05/31 23:42:58     24577           48
1887461  19/05/31 23:43:43     25083           49
1890583  19/05/31 23:44:02     25449           50
1890622  19/05/31 23:44:27     25902           51
1900017  19/05/31 23:46:00     26804           52
1906291  19/05/31 23:47:05     27299           53
1909351  19/05/31 23:47:24     27601           54

In [45]:
end_df[['EVENT_DATE', 'RUN_DIST', 'STATION_ORD']]

                EVENT_DATE  RUN_DIST  STATION_ORD
1896369  19/05/31 23:00:43       318            2
1915048  19/05/31 23:01:40      1105            3
1927371  19/05/31 23:02:21      1508            4
1911986  19/05/31 23:04:04      1852            5
1930497  19/05/31 23:05:12      2435            6
1893370  19/05/31 23:05:56      2822            7
1921317  19/05/31 23:07:42      3119            8
1893393  19/05/31 23:09:13      3370            9
1902842  19/05/31 23:10:06      3558           10
1918276  19/05/31 23:11:12      4059           11
1887185  19/05/31 23:12:34      4927           12
1896605  19/05/31 23:13:23      5563           13
1905986  19/05/31 23:14:06      6283           14
1909094  19/05/31 23:14:28      6674           15
1930631  19/05/31 23:16:11      7490           16
1890391  19/05/31 23:17:11      8138           17
1896629  19/05/31 23:17:32      8479           18
1899802  19/05/31 23:18:03      8835           19
1921478  19/05/31 23:20:05      9203           20
1927636  19/05/31 23:20:44      9545           21
1933791  19/05/31 23:21:22     10204           22
1890446  19/05/31 23:22:01     10749           23
1896681  19/05/31 23:22:27     11297           24
1899839  19/05/31 23:22:55     11708           25
1902990  19/05/31 23:23:20     12111           26
1909176  19/05/31 23:23:47     12573           27
1912298  19/05/31 23:24:19     13128           28
1918418  19/05/31 23:24:44     13448           29
1927705  19/05/31 23:26:18     14674           30
1933871  19/05/31 23:27:16     15550           31
1887343  19/05/31 23:27:53     15954           32
1893619  19/05/31 23:28:39     16368           33
1899888  19/05/31 23:29:24     16587           34
1906155  19/05/31 23:30:25     16966           35
1915391  19/05/31 23:31:49     17440           36
1921574  19/05/31 23:33:02     18028           37
1884356  19/05/31 23:35:13     18714           38
1887436  19/05/31 23:35:44     18921           39
1893708  19/05/31 23:36:46     19597           40
1909295  19/05/31 23:39:05     21217           41
1912373  19/05/31 23:39:37     21844           42
1912396  19/05/31 23:39:50     22048           43
1915475  19/05/31 23:40:20     22496           44
1921631  19/05/31 23:41:18     23087           45
1927772  19/05/31 23:42:08     23683           46
1927815  19/05/31 23:42:28     24064           47
1930898  19/05/31 23:42:57     24577           48
1887445  19/05/31 23:43:34     25083           49
1887478  19/05/31 23:43:51     25449           50
1890599  19/05/31 23:44:15     25902           51
1900011  19/05/31 23:45:55     26804           52
1906260  19/05/31 23:46:45     27299           53
1909349  19/05/31 23:47:23     27601           54
1915526  19/05/31 23:48:45     28339           55

In [52]:
x